.HomeCardContainer {
  background-image: linear-gradient(to right, #363940, #20242b);
  border-radius: 35px;
  border: 1.5px solid #707070;
  height: 270px;
  width: 100%;
  margin: 8px;
  cursor: pointer;
  transition: all 300ms ease-out;
  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.4);
}

.HomeCardContainer:hover {
  background-color: white;
  transform: scale(1.03);
  border: 2px solid gray;
}

.HomeCardContent {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 4.5%;
}
.HomeCardContent > h1 {
  color: #bbbbbb;
  font-family: Poppins;
  font-weight: 600;
  font-size: 45px;
}

.HomeCardContentBody {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeCardContentBody > p {
  width: 70%;
  color: #bbbbbb;
  font-family: Poppins;
  font-weight: 300;
  font-size: 29px;
}

.HomeCardContentBody > img {
  width: 85px;
  height: 60px;
  object-fit: fill;
  outline: none;
}
