.HeaderHeroImage {
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.BlurHeader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: bottom;
  align-items: center;
  justify-content: center;
}

.HeaderHeroImage2 {
  width: 100%;
  height: 700px;
  background-image: url('../../Images/imageFolder/ourServices.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.Transol2 > h1 {
  color: Black;
  font-size: 70px;
}

.Transol > h3 {
  font-size: 20px;
  font-family: Poppins;
  color: Black;
  margin-top: -65px;
}

.Transol > h3 {
  color: Black;
  font-size: 60px;
  font-family: Poppins;
  margin-top: -30px;
}

.navs {
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.navs > p {
  color: #bbbbbb;
  font-size: 20px;
}

.Transol {
  width: 60%;
  height: auto;
}

.headText {
  font-size: 160px;
  font-weight: 600;
  color: #bbbbbb;
  margin-top: -25px;
  font-family: perpetua;
}

.headMotto {
  font-size: 30px;
  font-family: pepertua;
  font-weight: 500;
  color: #bbbbbb;
  margin-top: -240px;
}

.headerOptions {
  display: flex;
  width: 40%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headerOptions > p {
  color: #bbbbbb;
  padding-top: 100px;
  cursor: pointer;
  font-size: 22px;
}
.IconButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoutButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoutButton > p {
  color: #bbbbbb;
  font-size: 21px;
  font-family: pepertua;
}
