.HomeTrayContainer {
  width: 100%;
  height: 120px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: all 300ms ease-out;
  cursor: pointer;
  box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.3);
  border: 3px solid #707070;
  border-radius: 16px;
}

.HomeTrayContainer:hover {
  transform: scale(1.01);
  background-color: rgb(235, 234, 234);
}

.HomeTrayContainer > h1 {
  font-weight: bold;
  margin-left: 2%;
  color: brown;
  font-size: 60px;
}

.HomeTrayContainer > p {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: #14171c;
  margin-top: 35px;
  font-family: pepertua;
}

.HomeTrayContainer > img {
  height: 30px;
  width: 30px;
  margin-left: 50px;
}
