.carbrand_card_container {
  width: 97%;
  height: 150px;
  background-color: #f3f3f3;
  margin-top: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 1.5px solid #707070;
  transition: all 300ms ease-in-out;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
}

.carbrand_card_container:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.logoPart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoPart > img {
  width: 10%;
  height: 130px;
  margin-left: 4%;
}

.logoPart > h1 {
  font-weight: bold;
  font-size: 700%;
  margin-left: 2.5%;
  margin-top: 2%;
}
.logoPart > p {
  font-size: 500%;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 5%;
  font-family: pepertua;
}

.carbrand_card_availability_div {
  height: 20%;
  width: fit-content;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 2%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.carbrand_card_availability_div > p {
  color: #ffffff;
  font-size: 120%;
  font-weight: 500;
  text-align: center;
  margin-top: 20%;
  font-family: pepertua;
}
